html,
body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background: black;
}

#terminal {
    width: 100%;
    height: 99%;
    margin-top: 0.35vh;
    /* 100% can lead to trimming bottom */
}

.xterm .xterm-viewport {
    overflow: hidden !important;
}

#screenreader_hint {
    position: absolute;
    top: -50px
}

#boot_screen {
    color: white;
    font-size: 20px;
    font-family: "Open Sans", Open Sans, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    user-select: none;

    transition: all 0.5s ease-in-out;
}

#boot_screen img {
    width: 20%;
}

#boot_screen h2 {
    margin-bottom: 0.1em;
}

#boot_screen h4 {
    margin-top: 0.1em;
    margin-bottom: 4.5em;
}

#boot_loader {
    width: 20%;
    height: fit-content;
    margin-bottom: 10vh;

    -webkit-appearance: none;
    appearance: none;

    border: #fff 2px solid;
    border-radius: 5px;
    background: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.1em;
}

.boot_loader_bar {
    width: 75%;
    height: 2.5vh;
    background: linear-gradient(to bottom, #00f, #0066ff, #fff, #0066ff, #00f);
    visibility: hidden;
}

#boot_footer {
    position: absolute;
    bottom: 2vh;
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.window {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    flex-direction: column;
}

.window.visible {
    display: flex;
}

.window-top-bar {
    width: 100%;
    height: 2rem;
    background: #222;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
}

.window-top-bar.hidden {
    display: none;
}

.window-top-bar-title {
    color: #fff;
    font-family: "Open Sans", Open Sans, Arial, sans-serif;
    font-size: 0.8rem;
    height: 100%;
    vertical-align: middle;

    padding: 0 0.5rem;
    display: flex;
    align-items: center;
}

.window-top-bar-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.window-button {
    height: 100%;
    background: transparent;
    aspect-ratio: 1;
    cursor: pointer;
    border: none;

    color: #fff;
    font-family: "Open Sans", Open Sans, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.1s ease-in-out;
}

.window-button:hover {
    background: #444;
}

.window-close-button:hover {
    background: #ee5555;
}

.window-content-host {
    width: 100%;
    height: 100%;
    overflow: clip;
    background: #111;
}

.window-content-host.dragging {
    pointer-events: none;
}

.window-content-host.transparent {
    background: transparent;
}

@media screen and (max-width: 600px) {
    #boot_screen h2 {
        font-size: 1.5em;
    }

    #boot_screen h4 {
        font-size: 1em;
    }

    #boot_screen img {
        width: 40%;
    }

    #boot_loader {
        width: 40%;
    }
}

.swal2-popup {
    font-family: "Open Sans", Open Sans, Arial, sans-serif !important;
}

.swal2-title {
    font-family: "Ubuntu", Ubuntu, Arial, sans-serif;
}

.swal2-popup code {
    font-family: monospace;
    font-weight: bold;
}
